root{
--color-neutral-background: #0E1113;
--color-neutral-content: #B7CAD4;
--color-tone-1: #F2F2F2;
--color-tone-5: #1E1E1E;
--color-tone-7: #080808;
--color-ui-canvas: #080808;
}


.app-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--color-neutral-background);
    color: var(--color-neutral-content);
}