#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app {
  max-width: 740px;
  width: 100%;
  margin: 0 auto;
  padding: 72px 16px 40px;
}

.logo {
  height: 2.2em;
  width: auto;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 8px #ff450088);
}
